<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id = "parentBean" class = "mainPackage.Triangle3" autowire = "byName" abstract = "true" scope = "prototype" >
        <property name="pointB" >

            <bean class = "mainPackage.Point">
                <property name="x" value="700"/>
                <property name="y" value="700"/>

            </bean>

        </property>

    </bean>

    <bean id = "childBean" class = "mainPackage.Triangle3" autowire = "byName" parent = "parentBean" >






    </bean>


    <bean id = "triangle3" class = "mainPackage.Triangle3" autowire = "byName" scope = "prototype">

        <property name="pointA" ref = "pointA"/>
        <property name="pointB">
            <bean class="mainPackage.Point">

                <property name="x" value="200"/>
                <property name="y" value="800"/>


            </bean>


        </property>



    </bean>

    <bean id ="pointA" class = "mainPackage.Point">

        <property name="x" value="700"/>
        <property name="y" value="800"/>

    </bean>

    <bean id = "pointC" class = "mainPackage.Point">
        <property name="x" value="12"/>
        <property name="y" value="21"/>


    </bean>

</beans>